@page "/"

<div class="row">
    <div class="col-sm-12 text-center">
        <h1>ScribbLED</h1>
    </div>
</div> 
<div class="row">
    <div class="col-sm-12 text-center">
        <label for="colorPicker">Select a color:</label>
        <input type="color" id="colorPicker" name="colorPicker" @bind(SelectedColor)>
    </div>
</div>
<div class="row text-center">
        <div class="col-sm-4 col-sm-offset-4 text-center">
            <table style="width:260px;margin:0 auto;">
                @for(int row = 0; row<7; row++)
                {
                    <tr>
                        @for(int col = 0; col<5; col++)
                        {
                            var light = GetLight(row, col);
                            <td style="width:50px;height:50px;padding:5px;">
                                <div  bind-styles="@light.Style">
                                    <div style="width:100%;height:100%" @onclick(() => { SelectColor(light); }) >
                                    </div>
                                </div>
                            </td>    
                        }
                    </tr>
                        
                }  
            </table>
        </div>
</div>    
<div class="row">
    <div class="col-sm-4 col-sm-offset-4 text-center">
        <button class="btn btn-danger" @onclick(Clear)>Clear</button>
        <button class="btn btn-success" @onclick(async () => { await Draw(); })>Draw</button>
    </div>
</div>
@functions
{
    string SelectedColor { get; set; } = "#ff0000";
    List<Light> Lights { get; set; } = new List<Light>();

    void SelectColor(Light light)
    {
        light.Color = SelectedColor;
    }

    public Light GetLight(int row, int col) => Lights.FirstOrDefault(_ => _.Row == row && _.Column == col);

    void Clear()
    {
        Lights.ForEach(_ => _.Color = "#000000");
    }

    async Task Draw()
    {
         await Http.PostAsync("/Draw", Utilities.GetJsonAsStringContent(Lights));
    }

    protected override void OnInit()
    {
        for(int row = 0; row<7; row++)
        {
            for(int col = 0; col<5; col++)
            {
                Lights.Add(new Light
                {
                    Row = row,
                    Column = col
                });
            }
        }
    }

   
}
